@import "base/listas";
@import "base/tipografias";
@import "base/mixin";
@import "componentes/header";
@import "componentes/footer";
@import "componentes/mobile";
@import "componentes/tablet";





.encabezado_principal {

    background: url(../imagenes/fondoIncio.jpg);
    background-size: cover;
    margin: 0 5px 0 5px;
    padding: 215px 0;
    border: nth($borde , 1);

    h1 {
        font-size: nth($font-size , 8);
        font-family: nth($letra , 2);
        color: nth($colores , 2);
        padding-left: 20px;
    }

    p {
        color: nth($colores , 3);
        font-size: nth($font-size, 4);
        padding-left: 20px;
    }

}

.veni_jardin {
    h2 {
        padding-top: 20px;
        text-align: center;
        font-family: nth($letra , 1);
        font-weight: bold;
    }
}

.contenedor_columnas {
    display: flex;

    .columna_1 {
        img {
            width: 190%;
            height: 80%;
            border: nth($borde , 4);
            margin: 30px 0 0 30px;
        }
    }

    .columna_2 {
        font-family: nth($letra , 3);
        padding: 40px 10px 0 300px;
        font-size: nth($font-size , 2);
        line-height: 2;
    }
}

.informacion_titulo {
    h2 {
        padding-top: 0px;
        text-align: center;
        font-family: nth($letra , 1);
        font-weight: bold;
    }
}

.accordion {

    .accordion-button {
        font-size: nth($font-size , 1);
    }
}

/* JARDÍN JARDÍN JARDÍN JARDÍN JARDÍN JARDÍN JARDÍN JARDÍN */

.contenedor_jardin {

    .columnas {
        display: flex;

        img {
            border-radius: nth($radius , 3);
            padding-top: 80px;
        }

        .contenedor_jardin-titulo {
            h1 {
                font-size: nth($font-size , 6);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: normal;
                padding-left: 69px;
                padding-top: 15px;
            }

            p {
                font-family: nth($letra , 2);
                line-height: 40px;
                font-size: nth($font-size , 2);
                padding: 0 12px;
            }

        }
    }
}

.mapa_jardin {
    h2 {
        font-family: cursive;
        font-size: 35px;
        text-align: center;
        padding-top: 30px;
    }

    img {
        width: 85%;
        padding-left: 60px;
    }
}

/* SERVICIOS SERVICIOS SERVICIOS SERVICIOS SERVICIOS SERVICIOS */

.carousel-inner {
    img {
        background-size: cover;
        height: 580px;

    }
}

.titulo_servicios-acordion {
    h1 {
        padding: 25px 0 25px 75px;
        text-align: start;
        font-family: cursive;
        color: nth($colores, 1)
    }
}


/*PASEOS PASEOS PASEOS PASEOS PASEOS PASEOS PASEOS PASEOS */

.titulo_paseos {
    h1 {
        font-size: nth($font-size , 5);
        text-align: center;
        background-color: burlywood;
        padding: 30px 0 20px 0;
        color: nth($colores , 1);
    }
}

.contenedor_paseos {

    @include flex();

    .paseos-mariposas {
        h3 {
            text-align: center;
            font-family: nth($letra, 1);
            margin-top: 5px;
        }

        .card {
            margin: 40px 10px 10px 40px;
            padding-bottom: 25px;
            border: 2px solid burlywood;
        }

        img {
            border: 0.5px solid black;
        }
    }

    .paseos-aves {
        h3 {
            text-align: center;
            font-family: nth($letra, 1);
            margin-top: 5px;
        }

        .card {
            margin: 40px 10px 10px 10px;
            border: 2px solid burlywood;
        }

        img {
            border: 0.5px solid black;
        }
    }

    .paseos-cactus {
        h3 {
            text-align: center;
            font-family: nth($letra, 1);
            margin-top: 5px;
        }

        .card {
            margin: 40px 10px 10px 10px;
            border: 2px solid burlywood;
        }

        img {
            border: 0.5px solid black;
        }
    }

    .paseos-hongos {
        h3 {
            text-align: center;
            font-family: nth($letra, 1);
            margin-top: 5px;
        }

        .card {
            margin: 40px 10px 10px 38px;
            padding-bottom: 25px;
            border: 2px solid burlywood;
        }

        img {
            border: 0.5px solid black;
        }
    }

    .paseos-palmeras {
        h3 {
            text-align: center;
            font-family: nth($letra, 1);
            margin-top: 5px;
        }

        .card {
            margin: 40px 10px 10px 20px;
            padding-bottom: 45px;
            border: 2px solid burlywood;
        }

        img {
            border: 0.5px solid black;
        }
    }

    .paseos-bosque {
        h3 {
            text-align: center;
            font-family: nth($letra, 1);
            margin-top: 5px;
        }

        .card {
            margin: 40px 10px 10px 10px;
            padding-bottom: 70px;
            border: 2px solid burlywood;
        }

        img {
            border: 0.5px solid black;
        }
    }

}

/*NOVEDADES NOVEDADES NOVEDADES NOVEDADES NOVEDADES NOVEDADES */

.encabezado_novedades {

    img {
        width: 1340px;
        height: 600px;
        margin: 10px 0 0 10px;
        border: nth($borde , 4)
    }
}

.contenedor_novedades-titulos {
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: nth($font-size , 9);
        border: nth($borde , 1);
        border-radius: nth($radius , 8);
        background-color: burlywood;
        text-align: center;
        margin-top: 50px;

    }

    .contenedor_novedades-descripcion_uno {
        img {

            @include novedades_descripcion();
        }

        p {
            font-size: nth($font-size, 10);
            text-align: center;
            margin-top: 15px;
            margin-bottom: 50px;
        }
    }


    .contenedor_novedades-descripcion_dos {
        img {
            @include novedades_descripcion();
        }

        p {
            font-size: nth($font-size, 10);
            text-align: center;
            line-height: 1.5;
            margin-top: 15px;
            margin-bottom: 50px;
        }
    }


    .contenedor_novedades-descripcion_tres {
        img {
            @include novedades_descripcion();
        }

        p {
            font-size: nth($font-size, 10);
            text-align: center;
            margin-top: 15px;
        }
    }
}

/* GALERIA GALERIA GALERIA GALERIA GALERIA GALERIA GALERIA */

.encabezado_galeria {
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: nth($font-size , 9);
        text-align: center;
        border: nth($borde , 1);
        border-radius: nth($radius, 9);
        background-color: burlywood;
    }
}

.contenedor_galerias {

    @include flex();

    .galeria_uno {


        .card {
            margin: 40px 10px 10px 40px;
            border: 2px solid burlywood;
        }

        img {
            border: 0.5px solid black;
        }

        p {
            text-align: center;
            font-size: nth($font-size , 7);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }

    .galeria_dos {


        .card {
            margin: 40px 10px 10px 10px;

            border: 2px solid burlywood;
        }

        img {
            border: 0.5px solid black;
            margin-bottom: 22px;

            height: 240px;
        }

        p {
            text-align: center;
            font-size: nth($font-size , 7);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }

    .galeria_tres {


        .card {
            margin: 40px 10px 10px 10px;
            border: 2px solid burlywood;
        }

        img {
            border: 0.5px solid black;
            margin-bottom: 22px;
        }

        p {
            text-align: center;
            font-size: nth($font-size , 7);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }

    .galeria_cuatro {


        .card {
            margin: 40px 10px 10px 60px;
            padding-bottom: 25px;
            border: 2px solid burlywood;
        }

        img {
            border: 0.5px solid black;
            height: 240px;
        }

        p {
            text-align: center;
            font-size: nth($font-size , 7);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }

    .galeria_cinco {

        .card {
            margin: 40px 20px 10px 22px;
            padding-bottom: 30px;
            border: 2px solid burlywood;
        }

        img {
            border: 0.5px solid black;
            height: 240px;
        }

        p {
            text-align: center;
            font-size: nth($font-size , 7);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }

    .galeria_seis {

        .card {
            margin: 40px 30px 0px 10px;
            padding-bottom: 13px;
            border: 2px solid burlywood;
        }

        img {
            border: 0.5px solid black;
            margin-bottom: 0px;
        }

        p {
            text-align: center;
            font-size: nth($font-size , 7);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }


    .galeria_siete {


        .card {
            margin: 40px 10px 0px 10px;
            padding-bottom: 0px;
            border: 2px solid burlywood;
        }

        img {
            border: 0.5px solid black;
        }

        p {
            text-align: center;
            font-size: nth($font-size , 7);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }


    .galeria_ocho {

        .card {
            margin: 40px 10px 0px 10px;
            padding-bottom: 4px;
            border: 2px solid burlywood;
        }

        img {
            border: 0.5px solid black;
            height: 210px;
        }

        p {
            text-align: center;
            font-size: nth($font-size , 7);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }



}

/*AGENDA AGENDA AGENDA AGENDA AGENDA AGENDA AGENDA AGENDA */

.contenedor_agenda-titulo {
    h1 {
        font-size: nth($font-size , 5);
        text-align: center;
        background-color: burlywood;
        padding: 30px 0 20px 0;
        margin-bottom: 40px;
        color: nth($colores , 1);

    }

    p {
        font-size: nth($font-size, 2);
        padding: 5px 0 0 100px;
        font-family: nth($letra , 4);
    }
}


.contenedor_agenda {
    @include flex();

    .btn-primary {
        background-color: rgb(240, 175, 89);
        border: 1px solid wheat;
    }



    .agenda_casamiento {
        .card {
            margin: 30px 10px 0 0;
            padding-bottom: 30px;
        }

        h5 {
            text-align: center;
        }

        p {
            font-size: nth($font-size , 7)
        }
    }


    .agenda_visita-guiada {
        .card {
            margin: 30px 10px 0 0;
        }

        h5 {
            text-align: center;
        }

        p {
            font-size: nth($font-size , 7)
        }
    }


    .agenda_caminata-nocturna {
        .card {
            margin: 30px 10px 0 0;
        }

        h5 {
            text-align: center;
        }

        p {
            font-size: nth($font-size , 7)
        }
    }}