@import "base/listas";
@import "base/tipografias";
@import "base/mixin";
@import "componentes/header";
@import "componentes/footer";





    /* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE  */
    @media only screen and (max-width: 576px) {
        header {
    
            .contenedor {
    
                display: flex;
                flex-direction: column;
                align-items: center;
    
                nav {
    
                    ul li a {
                        font-size: 12.5px;
                        font-weight: bolder;
                    }
                }
            }
        }
    
        .encabezado_principal {
    
            display: none;
    
        }
    
        .veni_jardin {
            h2 {
    
                align-items: center;
                font-size: nth($font-size , 10);
            }
        }
    
        .contenedor_columnas {
            display: flex;
            flex-direction: column;
    
    
            .columna_1 {
                img {
                    width: 80%;
                    height: 60%;
                    margin-left: 70px;
    
                }
            }
    
            .columna_2 {
                margin: 20px 0 10px 40px;
                padding: 0;
                border-bottom: nth($borde , 1);
    
                p {
                    font-size: nth($font-size , 2);
                }
            }
        }
    
        /* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
        #contacto {
            .mapa_footer {
                iframe {
                    display: none;
                }
            }
        }
    
        /*AGENDA AGENDA AGENDA AGENDA AGENDA AGENDA AGENDA */
    
        .contenedor_agenda-titulo {
    
            h2 {
                font-size: nth($font-size, 10);
            }
    
            p {
                font-size: nth($font-size , 7);
                padding-right: 50px;
            }
        }
    
    
        /*PASEOS PASEOS PASEOS PASEOS PASEOS PASEOS PASEOS */
    
        .titulo_paseos {
            h2 {
                font-size: nth($font-size, 10);
            }
        }
    
        .paseos-aves {
            margin-left: 30px;
        }
    
        .paseos-cactus {
    
            margin-left: 30px;
        }
    
        .paseos-palmeras {
    
            margin-left: 23px;
        }
    
        .paseos-bosque {
            margin-left: 30px;
        }
    
    
        /*JARDIN JARDIN JARDIN JARDIN JARDIN JARDIN */
    
        .contenedor_jardin {
            display: flex;
    
            .columnas {
                flex-wrap: wrap;
    
                img {
                    width: 100%;
                 
                   margin:0;
                   padding: 0;
                }
    
                .contenedor_jardin-titulo {
                    h2 {
                        text-align: center;
                        background-color: burlywood;
                        font-size: nth($font-size , 5);
                    }
    
                    p {
                        font-size: nth($font-size , 7);
                        padding-left: 27px;
    
                    }
                }
    
            }
        }
    
        .mapa_jardin {
            h2 {
                font-size: nth($font-size , 4);
    
            }
    
            img {
                width: 500px;
                padding-left: 40px;
             
                
            }
        }
    
        /*NOVEDADES NOVEDADES NOVEDADES NOVEDADES NOVEDADES */
    
        .encabezado_novedades {
            img {
                width: 500px;
                height: 350px;
                margin-left: 30px;
                border: nth($borde , 4);
                border-radius: nth($radius , 4);
            }
        }
    
        .contenedor_novedades-titulos {
    
            h2 {
    
                font-size: nth($font-size , 3);
                padding: 0;
                align-items: flex-start;
    
            }
    
            img {
                display: none;
            }
    
            p {
                font-size: nth($font-size , 5);
            }
    
        }
    
    
    
    
    
        /*GALERIA GALERIA GALERIA GALERIA GALERIA GALERIA */
    
        .galeria_dos {
            margin-left: 21px;
        }
    
        .galeria_tres {
            margin-left: 15px;
        }
    
        .galeria_cuatro {
            margin-right: 35px;
        }
    
        .galeria_cinco {
            margin-left: 20px;
        }
    
        .galeria_seis {
            margin-left: 40px;
        }
    
        .galeria_siete {
            margin-left: 28px;
        }
    
        .galeria_ocho {
            margin-left: 28px;
        }
    }
    
    
    


    
/*TABLET TABLET TABLET TABLET TABLET TABLET TABLET */
@media only screen and (max-width:768px) {


    header {

        .contenedor {

            display: flex;
            flex-direction: column;
            align-items: center;

            nav {

                ul li a {
                    font-size: 12.5px;
                    font-weight: bolder;
                }
            }
        }
    }

    .encabezado_principal {

        display: none;

    }

    .veni_jardin {
        h2 {

            align-items: center;
            font-size: nth($font-size , 10);
        }
    }

    .contenedor_columnas {
        display: flex;
        flex-direction: column;


        .columna_1 {
            img {
                width: 80%;
                height: 60%;
                margin-left: 70px;

            }
        }

        .columna_2 {
            margin: 20px 0 10px 40px;
            padding: 0;
            border-bottom: nth($borde , 1);

            p {
                font-size: nth($font-size , 2);
            }
        }
    }

    /* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
    #contacto {
        .mapa_footer {
            iframe {
                display: none;
            }
        }
    }

    .contenedor_jardin {
        display: flex;

        .columnas {
            flex-wrap: wrap;

            img {
                width: 700px;
                padding-left: 40px;
                padding-bottom: 20px;
            }

            .contenedor_jardin-titulo {
                h1 {
                    text-align: center;

                    font-size: nth($font-size , 6);
                }

                p {
                    font-size: nth($font-size , 7);
                    padding-left: 27px;

                }
            }

        }
    }

    .mapa_jardin {
        h2 {
            font-size: nth($font-size , 4);

        }

        img {
            height: 600px;
            width: 720px;
            margin: 0px;
        }
    }

    /*PASEOS PASEOS PASEOS PASEOS PASEOS PASEOS PASEOS */

    .titulo_paseos {
        h2 {
            font-size: nth($font-size, 10);
        }
    }

    .paseos-aves {
        margin-left: 30px;
    }

    .paseos-cactus {

        margin-left: 30px;
    }

    .paseos-palmeras {

        margin-left: 23px;
    }

    .paseos-bosque {
        margin-left: 30px;
    }


    /*NOVEDADES NOVEDADES NOVEDADES NOVEDADES NOVEDADES */

    .encabezado_novedades {
        img {
            width: 550px;
            height: 350px;
            margin-left: 30px;
            border: nth($borde , 4);
            border-radius: nth($radius , 4);
        }
    }

    .contenedor_novedades-titulos {

        h2 {

            font-size: nth($font-size , 3);
            padding: 0;
            align-items: flex-start;

        }

        img {
            display: none;
        }

        p {
            font-size: nth($font-size , 5);
        }

    }



    /*GALERIA GALERIA GALERIA GALERIA GALERIA GALERIA */


    .contenedor_galerias {


        .galeria_tres {

            display: none;
        }

        .galeria_cuatro {

            display: none;
        }

        .galeria_cinco {
            display: none;
        }

        .galeria_siete {

            margin-left: 0px;

            p {

                padding-bottom: 70px;
            }
        }

        .galeria_ocho {
            p {
                padding-bottom: 70px;
            }
        }
    }


}

/*JARDIN JARDIN JARDIN JARDIN JARDIN JARDIN */

.contenedor_jardin {
    display: flex;

    .columnas {
        flex-wrap: wrap;

        img {
            width: 700px;
            
            padding-bottom: 20px;
        }

        .contenedor_jardin-titulo {
            h2 {
                text-align: center;
                background-color: burlywood;
                font-size: nth($font-size , 5);
            }

            p {
                font-size: nth($font-size , 7);
                padding-left: 27px;

            }
        }

    }
}

.mapa_jardin {
    h2 {
        font-size: nth($font-size , 4);

    }

    img {
        height: 400px;
        width: 600px;
        margin: 0px;
        padding-left: 140px;
    }
}

   
/*DESKTOP DESKTOP DESKTOP DESKTOP*/
.encabezado_principal {

    background: url(../imagenes/fondoIncio.jpg);
    background-size: cover;
    margin: 0 5px 0 5px;
    padding: 215px 0;
    border: nth($borde , 1);

    h1 {
        font-size: nth($font-size , 8);
        font-family: nth($letra , 2);
        color: nth($colores , 2);
        padding-left: 20px;
    }

    p {
        color: nth($colores , 3);
        font-size: nth($font-size, 4);
        padding-left: 20px;
    }

}

.veni_jardin {
    h2 {
        padding-top: 20px;
        text-align: center;
        font-family: nth($letra , 1);
        font-weight: bold;
    }
}

.contenedor_columnas {
    display: flex;

    .columna_1 {
        img {
            width: 190%;
            height: 80%;
            border: nth($borde , 4);
            margin: 30px 0 0 30px;
        }
    }

    .columna_2 {
        font-family: nth($letra , 3);
        padding: 40px 10px 0 300px;
        font-size: nth($font-size , 2);
        line-height: 2;
    }
}

.informacion_titulo {
    h2 {
        padding-top: 0px;
        text-align: center;
        font-family: nth($letra , 1);
        font-weight: bold;
    }
}

.accordion {

    .accordion-button {
        font-size: nth($font-size , 1);
    }
}

/* JARDÍN JARDÍN JARDÍN JARDÍN JARDÍN JARDÍN JARDÍN JARDÍN */

.contenedor_jardin {

    .columnas {
        display: flex;
        flex-direction: column;

        img {
            width: 550px;
            padding-left: 250px;
            border-radius: nth($radius , 4);
            justify-content: center;
            
        }

        .contenedor_jardin-titulo {
            h1 {
                font-size: nth($font-size , 6);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: normal;
                text-align: center;
                background-color: burlywood;
            }

            p {
                font-family: nth($letra , 2);
                line-height: 40px;
                font-size: nth($font-size , 2);
                padding: 0 12px;
            }

        }
    }
}

.mapa_jardin {
    h2 {
        font-family: cursive;
        font-size: 35px;
        text-align: center;
        padding-top: 30px;
    }

    img {
        width: 85%;
        padding-left: 60px;
    }
}

/* SERVICIOS SERVICIOS SERVICIOS SERVICIOS SERVICIOS SERVICIOS */

.carousel-inner {
    img {
        background-size: cover;
        height: 580px;

    }
}

.titulo_servicios-acordion {
    h1 {
        padding: 25px 0 25px 75px;
        text-align: start;
        font-family: cursive;
        color: nth($colores, 1)
    }
}


/*PASEOS PASEOS PASEOS PASEOS PASEOS PASEOS PASEOS PASEOS */

.titulo_paseos {
    h1 {
        font-size: nth($font-size , 5);
        text-align: center;
        background-color: burlywood;
        padding: 30px 0 20px 0;
        color: nth($colores , 1);
    }
}

.contenedor_paseos {

    @include flex();

    .paseos-mariposas {
        h3 {
            text-align: center;
            font-family: nth($letra, 1);
            margin-top: 5px;
        }

        .card {
            margin: 40px 10px 10px 40px;
            padding-bottom: 25px;
            border: 2px solid burlywood;
        }
        p{
            padding-bottom: 40px;
        }
        img {
            border: 0.5px solid black;
        }
    }

    .paseos-aves {
        h3 {
            text-align: center;
            font-family: nth($letra, 1);
            margin-top: 5px;
        }

        .card {
            margin: 40px 10px 10px 10px;
            border: 2px solid burlywood;
            
        }
        p{
            padding-bottom: 40px;
        }

        img {
            border: 0.5px solid black;
        }
    }

    .paseos-cactus {
        h3 {
            text-align: center;
            font-family: nth($letra, 1);
            margin-top: 5px;
        }

        .card {
            margin: 40px 10px 10px 50px;
            border: 2px solid burlywood;
            padding-bottom: 45px;
        }

        img {
            border: 0.5px solid black;
        }
    }

    .paseos-hongos {
        h3 {
            text-align: center;
            font-family: nth($letra, 1);
            margin-top: 5px;
        }

        .card {
            margin: 40px 10px 10px 50px;
            padding-bottom: 25px;
            border: 2px solid burlywood;
        }

        img {
            border: 0.5px solid black;
        }
    }

    .paseos-palmeras {
        h3 {
            text-align: center;
            font-family: nth($letra, 1);
            margin-top: 5px;
        }

        .card {
            margin: 40px 0px 10px 40px;
            padding-bottom: 45px;
            border: 2px solid burlywood;
        }

        img {
            border: 0.5px solid black;
        }
    }

    .paseos-bosque {
        h3 {
            text-align: center;
            font-family: nth($letra, 1);
            margin-top: 5px;
        }

        .card {
            margin: 40px 20px 10px 40px;
            padding-bottom: 70px;
            border: 2px solid burlywood;
        }

        img {
            border: 0.5px solid black;
        }
    }

}

/*NOVEDADES NOVEDADES NOVEDADES NOVEDADES NOVEDADES NOVEDADES */

.encabezado_novedades {

    img {
        width: 1000px;
        height: 600px;
        margin: 10px 0 0 10px;
        border: nth($borde , 4)
    }
}

.contenedor_novedades-titulos {
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: nth($font-size , 9);
        border: nth($borde , 1);
        border-radius: nth($radius , 8);
        background-color: burlywood;
        text-align: center;
        margin-top: 50px;

    }

    .contenedor_novedades-descripcion_uno {
        img {

            @include novedades_descripcion();
        }

        p {
            font-size: nth($font-size, 10);
            text-align: center;
            margin-top: 15px;
            margin-bottom: 50px;
        }
    }


    .contenedor_novedades-descripcion_dos {
        img {
            @include novedades_descripcion();
        }

        p {
            font-size: nth($font-size, 10);
            text-align: center;
            line-height: 1.5;
            margin-top: 15px;
            margin-bottom: 50px;
        }
    }


    .contenedor_novedades-descripcion_tres {
        img {
            @include novedades_descripcion();
        }

        p {
            font-size: nth($font-size, 10);
            text-align: center;
            margin-top: 15px;
        }
    }
}

/* GALERIA GALERIA GALERIA GALERIA GALERIA GALERIA GALERIA */

.encabezado_galeria {
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: nth($font-size , 9);
        text-align: center;
        border: nth($borde , 1);
        border-radius: nth($radius, 9);
        background-color: burlywood;
    }
}



/*AGENDA AGENDA AGENDA AGENDA AGENDA AGENDA AGENDA AGENDA */

.contenedor_agenda-titulo {
    h1 {
        font-size: nth($font-size , 5);
        text-align: center;
        background-color: burlywood;
        padding: 30px 0 20px 0;
        margin-bottom: 40px;
        color: nth($colores , 1);

    }

    p {
        font-size: nth($font-size, 2);
        padding: 5px 0 0 100px;
        font-family: nth($letra , 4);
    }
}


.contenedor_agenda {
    @include flex();

    .btn-primary {
        background-color: rgb(240, 175, 89);
        border: 1px solid wheat;
    }



    .agenda_casamiento {
        .card {
            margin: 30px 10px 0 0;
            padding-bottom: 30px;
        }

        h5 {
            text-align: center;
        }

        p {
            font-size: nth($font-size , 7)
        }
    }


    .agenda_visita-guiada {
        .card {
            margin: 30px 10px 0 0;
        }

        h5 {
            text-align: center;
        }

        p {
            font-size: nth($font-size , 7)
        }
    }


    .agenda_caminata-nocturna {
        .card {
            margin: 30px 10px 0 0;
        }

        h5 {
            text-align: center;
        }

        p {
            font-size: nth($font-size , 7)
        }
    }}