$colores:
black,
white,
 hwb(0 100% 0%),
 rgb(83, 81, 81);



$font-size:
20px,
21px,
30px,
40px,
50px,
80px,
18px,
100px,
35px,
25px,
15px,
14.5px;

    

$borde: 
1px solid black,
1.5px solid black,
2px solid gray ,
2px solid black;

$radius: 
25px,
30px,
40px,
50px,
60px,
70px,
80px,
20px,
18px;

