/*TABLET TABLET TABLET TABLET TABLET TABLET TABLET */
@media only screen and (max-width:768px) {


    header {

        .contenedor {

            display: flex;
            flex-direction: column;
            align-items: center;

            nav {

                ul li a {
                    font-size: 12.5px;
                    font-weight: bolder;
                }
            }
        }
    }

    .encabezado_principal {

        display: none;

    }

    .veni_jardin {
        h2 {

            align-items: center;
            font-size: nth($font-size , 10);
        }
    }

    .contenedor_columnas {
        display: flex;
        flex-direction: column;


        .columna_1 {
            img {
                width: 80%;
                height: 60%;
                margin-left: 70px;

            }
        }

        .columna_2 {
            margin: 20px 0 10px 40px;
            padding: 0;
            border-bottom: nth($borde , 1);

            p {
                font-size: nth($font-size , 2);
            }
        }
    }

    /* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
    #contacto {
        .mapa_footer {
            iframe {
                display: none;
            }
        }
    }

    .contenedor_jardin {
        display: flex;

        .columnas {
            flex-wrap: wrap;

            img {
                width: 700px;
                padding-left: 40px;
                padding-bottom: 20px;
            }

            .contenedor_jardin-titulo {
                h1 {
                    text-align: center;

                    font-size: nth($font-size , 6);
                }

                p {
                    font-size: nth($font-size , 7);
                    padding-left: 27px;

                }
            }

        }
    }

    .mapa_jardin {
        h2 {
            font-size: nth($font-size , 4);

        }

        img {
            height: 600px;
            width: 720px;
            margin: 0px;
        }
    }

    /*PASEOS PASEOS PASEOS PASEOS PASEOS PASEOS PASEOS */

    .titulo_paseos {
        h2 {
            font-size: nth($font-size, 10);
        }
    }

    .paseos-aves {
        margin-left: 30px;
    }

    .paseos-cactus {

        margin-left: 30px;
    }

    .paseos-palmeras {

        margin-left: 23px;
    }

    .paseos-bosque {
        margin-left: 30px;
    }


    /*NOVEDADES NOVEDADES NOVEDADES NOVEDADES NOVEDADES */

    .encabezado_novedades {
        img {
            width: 100px;
            height: 350px;
            margin-left: 30px;
            border: nth($borde , 4);
            border-radius: nth($radius , 4);
        }
    }

    .contenedor_novedades-titulos {

        h2 {

            font-size: nth($font-size , 3);
            padding: 0;
            align-items: flex-start;

        }

        img {
            display: none;
        }

        p {
            font-size: nth($font-size , 5);
        }

    }



    /*GALERIA GALERIA GALERIA GALERIA GALERIA GALERIA */


    .contenedor_galerias {


        .galeria_tres {

            display: none;
        }

        .galeria_cuatro {

            display: none;
        }

        .galeria_cinco {
            display: none;
        }

        .galeria_siete {

            margin-left: 0px;

            p {

                padding-bottom: 70px;
            }
        }

        .galeria_ocho {
            p {
                padding-bottom: 70px;
            }
        }
    }


}

/*JARDIN JARDIN JARDIN JARDIN JARDIN JARDIN */

.contenedor_jardin {
    display: flex;

    .columnas {
        flex-wrap: wrap;

        img {
            width: 500px;
            padding-left: 40px;
            padding-bottom: 20px;
        }

        .contenedor_jardin-titulo {
            h2 {
                text-align: center;
                background-color: burlywood;
                font-size: nth($font-size , 5);
            }

            p {
                font-size: nth($font-size , 7);
                padding-left: 27px;

            }
        }

    }
}

.mapa_jardin {
    h2 {
        font-size: nth($font-size , 4);

    }

    img {
        height: 300px;
        width: 300px;
        margin: 0px;
    }
}